%h2= t('devise.registrations.write_mail')
= form_tag user_omniauth_authorize_path(:twitter), :method => "get", :class => 'form-vertical'  do
  = text_field_tag :email
  %br
  = submit_tag t('devise.registrations.twitter_sign_up'), :class => 'btn btn-primary'
