%h2.sectiontitle Editing ticket

= render 'form'

.btn-group
  = link_to 'Show', event_ticket_path(@event,@ticket), :class => 'btn btn-success'
  = link_to 'Back', event_path(@event), :class => 'btn btn-success'
