- if @event.organizer == current_user
  %h2.sectiontitle Selling tickets for "#{@event.name}"
- else
  %h2.sectiontitle Purchasing tickets for "#{@event.name}"

= render 'form'

= link_to 'Back', event_path(@event), :class => 'btn btn-success'
