//= render 'video_ad'

%p#notice= notice

%dl.dl-horizontal
  = render :partial => "printed_ticket_data"

%p Warning: Ticket should be printed and presented at Event door, where QR code will be regnized.

.btn-group
  = link_to 'Back', event_path(@event), :class => 'btn btn-success'
  = link_to 'Print', "#", :class => 'btn btn-success', :onclick => "window.print();return false;"
