.row-fluid
  .span4
    %h4 Login
    = render 'new'
  .span4
    %br
    %br
    %br
    = link_to "Sign in/up with Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn btn-primary btn-block'
    %br
    %br
    = link_to "Sign in/up with Twitter", user_omniauth_authorize_path(:twitter), :class => 'btn btn-primary btn-block'
  .span4
    %h4 Sign up as attendee
    = render :partial => 'devise/registrations/new', :locals => {:role => :attendee}
