%footer.footer
  .copyright
    .container
      .row-fluid
        .span6
          Copyright &copy; 2012.
          %a.link{href: "#"} GoGetix.com
        .span6
          %ul
            %li
              %a{href: "#", class: "btn btn-success btn-mini"} blog
            %li
              %a{href: "https://twitter.com/GoGetix", class: "btn btn-success btn-mini"} twitter
            %li
              %a{href: "#", class: "btn btn-success btn-mini"} facebook
            %li
              %a{href: "#", class: "btn btn-success btn-mini"} email
