%footer.footer
  .copyright
    .container
      .row-fluid
        .span6
          Copyright &copy; 2012.
          %a{href: "#"} GoGetix.com
        .span6
          %ul
            %li
              %a{href: "#"} blog
            %li
              %a{href: "https://twitter.com/GoGetix"} twitter
            %li
              %a{href: "#"} facebook
            %li
              %a{href: "#"} email
