!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t('layouts.email_title')
      %meta{:content => content_for?(:description) ? yield(:description) : t('layouts.email_title'), :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
  %body
    = yield
